In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
df=pd.read_csv("Fake News")
df

,Unnamed: 0,id,headline,written_by,news,label
0,0,9653,Ethics Questions Dogged Agriculture Nominee as...,Eric Lipton and Steve Eder,"WASHINGTON â€” In Sonny Perdueâ€™s telling,...",0
1,1,10041,U.S. Must Dig Deep to Stop Argentinaâ€™s Lione...,David Waldstein,HOUSTON â€” Venezuela had a plan. It was a ...,0
2,2,19113,Cotton to House: â€™Do Not Walk the Plank and ...,Pam Key,"Sunday on ABCâ€™s â€œThis Week,â€ while discu...",0
3,3,6868,"Paul LePage, Besieged Maine Governor, Sends Co...",Jess Bidgood,"AUGUSTA, Me. â€” The beleaguered Republican...",0
4,4,7596,A Digital 9/11 If Trump Wins,Finian Cunningham,Finian Cunningham has written extensively on...,1
...,...,...,...,...,...,...
20795,20795,5671,NaN,NeverSurrender,"No, you'll be a dog licking of the vomit of yo...",1
20796,20796,14831,Albert Pike and the European Migrant Crisis,Rixon Stewart,"By Rixon Stewart on November 5, 2016 Rixon Ste...",1
20797,20797,18142,Dakota Access Caught Infiltrating Protests to ...,Eddy Lavine,posted by Eddie You know the Dakota Access Pip...,1
20798,20798,12139,How to Stretch the Summer Solstice - The New Y...,Alison S. Cohn,"Itâ€™s officially summer, and the Society Bout...",0
20799,20799,15660,Emory University to Pay for â€™100 Percentâ€™ ...,Tom Ciccotta,"Emory University in Atlanta, Georgia, has anno...",0

In [3]:
df.shape

(20800, 6)

In [4]:
df.describe

<bound method NDFrame.describe of        Unnamed: 0     id                                           headline  \
0               0   9653  Ethics Questions Dogged Agriculture Nominee as...
1               1  10041  U.S. Must Dig Deep to Stop Argentinaâ€™s Lione...
2               2  19113  Cotton to House: â€™Do Not Walk the Plank and ...
3               3   6868  Paul LePage, Besieged Maine Governor, Sends Co...
4               4   7596                       A Digital 9/11 If Trump Wins
...           ...    ...                                                ...
20795       20795   5671                                                NaN
20796       20796  14831        Albert Pike and the European Migrant Crisis
20797       20797  18142  Dakota Access Caught Infiltrating Protests to ...
20798       20798  12139  How to Stretch the Summer Solstice - The New Y...
20799       20799  15660  Emory University to Pay for â€™100 Percentâ€™ ...

                       written_by  \
0      Eric Lipton and Steve Eder
1                 David Waldstein
2                         Pam Key
3                    Jess Bidgood
4               Finian Cunningham
...                           ...
20795              NeverSurrender
20796               Rixon Stewart
20797                 Eddy Lavine
20798              Alison S. Cohn
20799                Tom Ciccotta

                                                    news  label
0      WASHINGTON  â€”   In Sonny Perdueâ€™s telling,...      0
1      HOUSTON  â€”   Venezuela had a plan. It was a ...      0
2      Sunday on ABCâ€™s â€œThis Week,â€ while discu...      0
3      AUGUSTA, Me.  â€”   The beleaguered Republican...      0
4        Finian Cunningham has written extensively on...      1
...                                                  ...    ...
20795  No, you'll be a dog licking of the vomit of yo...      1
20796  By Rixon Stewart on November 5, 2016 Rixon Ste...      1
20797  posted by Eddie You know the Dakota Access Pip...      1
20798  Itâ€™s officially summer, and the Society Bout...      0
20799  Emory University in Atlanta, Georgia, has anno...      0

[20800 rows x 6 columns]>

In [5]:
df.tail()

,Unnamed: 0,id,headline,written_by,news,label
20795,20795,5671,NaN,NeverSurrender,"No, you'll be a dog licking of the vomit of yo...",1
20796,20796,14831,Albert Pike and the European Migrant Crisis,Rixon Stewart,"By Rixon Stewart on November 5, 2016 Rixon Ste...",1
20797,20797,18142,Dakota Access Caught Infiltrating Protests to ...,Eddy Lavine,posted by Eddie You know the Dakota Access Pip...,1
20798,20798,12139,How to Stretch the Summer Solstice - The New Y...,Alison S. Cohn,"Itâ€™s officially summer, and the Society Bout...",0
20799,20799,15660,Emory University to Pay for â€™100 Percentâ€™ ...,Tom Ciccotta,"Emory University in Atlanta, Georgia, has anno...",0

In [6]:
df.isnull().sum()

Unnamed: 0       0
id               0
headline       558
written_by    1957
news            39
label            0
dtype: int64

In [7]:
df.columns

Index(['Unnamed: 0', 'id', 'headline', 'written_by', 'news', 'label'], dtype='object')

In [8]:
df.nunique()

Unnamed: 0    20800
id            20800
headline      19803
written_by     4201
news          20386
label             2
dtype: int64